[2014-11-14 10:36] syphar opened #1 "file upload breaks with spaces in filenames"

[2014-11-14 17:35] #1 closed, assigned to nobody

[2014-12-11 21:27] codingjoe opened #2 "removes initial values from clearable file input"

[2015-08-25 13:05] codingjoe opened #4 "Handle + chars in file urls and replace with whitespace"

[2015-08-26 08:22] #4 closed

[2015-09-05 16:25] #2 closed

[2015-09-11 13:18] syphar opened #6 "file names including special characters does not work"

[2015-09-11 19:16] #6 closed

[2015-09-11 19:17] codingjoe commented on #6
I switched to using the storage key instead of the url. That is much safer anyways ;) Thanks!

[2015-11-01 11:44] syphar opened #7 "secret key as bytes leads to error when AWS_SECRET_ACCESS_KEY is binary"
[code]

[2015-11-02 10:43] codingjoe commented on #7
@syphar this bug report is based on an old version.

[2015-11-02 10:46] syphar commented on #7
https://github.com/codingjoe/django-s3file/blob/master/s3file/views.py#L48

[2015-11-02 10:49] codingjoe commented on #7
This is tested, but with a unicode not a byte string. Why should this setting be a byte string?

[2015-11-04 08:39] syphar commented on #7
good point ... let's close it

[2015-11-04 08:39] #7 closed

[2017-01-04 09:46] pyup-bot opened #21 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2017-01-04 14:59] #21 closed

[2018-10-09 12:51] codingjoe opened #86 "File does not exist"
[code]

[2018-10-19 12:38] younes-alouani opened #87 "temporary file on django server"
Does this package creates a temporary file on django server before uploading the file to s3 ?
Or does the uploading occurs directly on amazon servers ?

[2018-10-19 14:14] codingjoe commented on #87
Directly to AWS S3. That kind of the whole point of the package. See also:

[2018-10-19 14:14] #87 closed

[2018-10-19 14:16] codingjoe commented on #87
Of course the middleware fetches the file again from the S3 bucket to make it accessible to Django's forms and other things.

[2018-10-19 14:43] codingjoe commented on #87
I added a sequence diagram to about the behavior of this package:
https://github.com/codingjoe/django-s3file#for-the-nerds

[2018-11-01 12:39] #86 closed

[2018-12-23 20:31] saschametz opened #92 "400 (Bad Request)"
I set everything up according to the instructions, but I always get an error in the console.
`s3file.js:43 POST https://dev32849.s3.amazonaws.com/ 400 (Bad Request)`

[2018-12-23 21:31] saschametz commented on #92
After creating my bucket in another region it's working.
My first try was in the region EU (Frankfurt) -> doesn't work
My second try way in the region US East (N. Virginia) -> works

Do do you have any idea why some regions aren't working with the exact same settings, permissions etc.?

[2019-01-05 15:07] codingjoe commented on #92
Hi @saschametz AWS S3 exist only inside a single location. Therefore you must provide the location where your bucket actually exists. `boto3` uses a different API to interact with the bucket. I believe this API is not location based. The public post API however is. Seealso: https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-post-example.html

Best
-Joe

[2019-01-05 15:07] #92 closed

[2019-02-25 03:13] AbsoluteDestiny opened #93 "Incorrect s3 upload path separator on windows"
When django is being hosted on a windows machine (such as a local dev environment) the file is uploaded using backslashes as the path separator. So, instead of uploading to the /tmp/s3file folder the file get a single long filename with backslashes in it.

This then causes a File Does Not Exist IOError in boto3 when it tries to pull the file back.

[2019-02-26 11:09] codingjoe commented on #93
Hi @AbsoluteDestiny that's interesting. To be honest, I haven't tried the package on Windows yet. Do you happen to have a stacktrace for me or some sample code to reproduce this?

[2019-02-26 12:05] codingjoe commented on #93
@AbsoluteDestiny I think I found the bug and wrote a patch, can you test it please?

[2019-02-26 13:54] AbsoluteDestiny commented on #93
@codingjoe I'm getting the following error:

`'PurePosixPath' object has no attribute 'endswith'`

in `botocore\signers.py in generate_presigned_post`

[2019-02-26 14:57] codingjoe commented on #93
thx @AbsoluteDestiny I just updated the PR, it should work now

[2019-02-27 09:12] #93 closed

[2019-05-21 18:02] schwartzmx opened #95 "Upload Progress Output"
Hi,  thank you for creating this middleware,  it works great :)

I'm currently using this to upload large files to s3 via the UI (upwards of a couple GB).   I see there was some sort of support for using a progress bar in a previous version of this plugin that was removed here https://github.com/codingjoe/django-s3file/pull/60
Is there any other sort of way in the current version to get upload pro

[2019-05-22 10:11] codingjoe commented on #95
@schwartzmx thanks for reaching out. I agree, that would be a great feature.
I would love if you could draft a solution. To get some inspiration, I would suggest to check out the documentation on [XMLHttpRequest.upload](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/upload).
The `progress` signal should give provide you with the information you are seeking. What might be tricky is

[2019-06-05 21:28] jwill490 commented on #95
This would be extremely useful for me as well! Thanks

[2019-06-05 21:46] jwill490 opened #97 "Uploading with user id as the destination folder"
Hey there,

This plugin is awesome—it's sped up my uploads by roughly 30-40% in comparison to uploading through my application server.

However I'm new to AWS development and Django as well and could use your help. My team has an application that I just took over where users login through a user pool that's managed by Cognito.

When a user logs in, we get their username, store it in the session (e

[2019-06-10 15:23] codingjoe commented on #97
Hi @jwill490
yes and no. For what you are trying to do, you will need to either fork this package, or subclass and overwrite some if it's methods.

Anyways. I wouldn't recommend that. You see, this package does not intend that users upload the image to the final destination. This should be handled by your application server. You can easily include the user id in your `upload_to` callable, or manua

[2019-06-10 15:23] #97 closed

[2019-06-10 15:29] codingjoe commented on #95
@jwill490 I agree, you are welcome to help :)

[2019-06-16 01:05] aaronenberg opened #98 "minimal speed up, files uploading to django server and not to tmp/s3file"
Upload works but I still get tmp*.upload.* files created in /tmp folder on django server.  The tmp/s3file upload folder doesn’t get created in the bucket. Also not seeing any improvements in upload times for medium / large sized (500Mb / 5Gb) files, however I am getting some speed up when uploading many files in a directory. For my use case I am more interested in uploading multiple files in one P

[2019-06-16 09:42] codingjoe commented on #98
Hi @aaronenberg

Thanks for reaching out. Let me try to paraphrase what you are saying, to make sure I got it correctly.

I understand that files are created at `/tmp` on your application server, but there are not in the upload location on your S3 bucket.

In this particular case, I would suggest checking the browsers network logs. Does it actually upload the files to S3 or are they uploaded to yo

[2019-06-16 09:42] #98 closed

[2019-06-16 16:00] aaronenberg commented on #98
Thanks for responding to my issue.
I don't believe I am getting the intended functionality out of django-s3file which is to relieve the application server of processing file uploads by directly sending uploads to an S3 bucket from an HTML Form S3 API params baked into the file input. I know I am not because those uploads are being sent to my application server and then moved to the bucket. You men

[2019-06-16 16:12] #95 closed

[2019-06-16 16:15] codingjoe commented on #95
hi @schwartzmx sorry, but I had some time today, so I implemented the progress events myself.
I would really appreciate some feedback from your side. Let me know if this fits your purpose.
I for your feedback before I release the new feature.

Thanks again for all the effort. You really helped craft this feature.
Best
-joe

[2019-06-16 16:25] codingjoe commented on #98
Hi @aaronenberg

Thanks again for sharing our questions here. I am certain they will help other to debunk their own project.

Anyhow, all modern browsers keep a network log. In Chrome for example, you find a `Network` tab in the developer console. If you hit the checkbox `preserve logs`, it will keep the logs even if you leave the main page.

In any event, I believe I can help you best, if you sha

[2019-06-16 16:50] aaronenberg commented on #98
I checked the Network Tab, I do not see any POST requests to the S3 bucket. Only to the application server. Here is a log after submitting the form with a file.
![network](https://user-images.githubusercontent.com/19758147/59566959-e3b02780-901b-11e9-89ed-507f85a1e012.jpg)

Here is the the input-tag
[code]

[2019-06-16 19:17] codingjoe commented on #98
Hi @aaronenberg I am currently working on a new feature to improve local development. Please check out the branch `dummy-backend` and it's documentation: https://github.com/codingjoe/django-s3file/tree/dummy-backend#using-s3file-in-development

Oh, and can you please also check, that you have the form.media included in your page? There should be a JavaScript script loaded called `s3file.js`.

[2019-06-16 19:58] aaronenberg commented on #98
Hey I switched to `dummy-backend` branch for my local dev environment. I am not seeing `s3file.js` loaded with either setup. I am including `{{ form.media }}` in the template.

[2019-06-17 14:43] codingjoe commented on #98
@codingjoe did you add `s3file` to your installed apps?

[2019-06-17 14:44] codingjoe commented on #98
It's strange that you your script does not include the `s3file.js` script. Can you maybe – just for testing – add it manually to the template?

[2019-06-17 16:21] aaronenberg commented on #98
Yes I added to installed apps. `dummy-backend` is not doing anything to the input tag, not loading the script, nor using the s3file url endpoints when submitting the form. On my test-server though when I add the `s3file.js` directly to the template I get a 403 forbidden. I have my static files in a public-read S3 bucket so permissions are a non-issue.

[2019-06-17 16:34] aaronenberg commented on #98
I copied s3file.js into the template and this is the error I'm getting now.

[code]

[2019-06-17 19:47] aaronenberg commented on #98
I figured it out. Because I am using my own custom storage class inherited from `S3Boto3Storage` and changed the `S3Boto3Storage.location`, the new location is not being picked up by `s3file`. `s3file` puts the upload into the `<bucket_url>/tmp/s3file/` folder. It doesn't know about the prefix added to the path by `django-storages` backend. So boto3 is trying to read the file from the prefixed S3

[2019-06-17 21:56] aaronenberg opened #104 "AWS_LOCATION or S3Boto3Storage.location not supported"
Because I am using my own custom storage class inherited from `S3Boto3Storage` and changed the `S3Boto3Storage.location` (the default is: '') , the new location is not being picked up by s3file. By default, s3file uploads to `<bucket_url>/tmp/s3file/` or to the folder specified by `django.conf.settings.S3FILE_UPLOAD_PATH`. It doesn't know about the prefix added to the path by `S3Boto3Storage._norm

[2019-06-18 15:19] codingjoe commented on #98
Great I saw the new issue you opened and commented on the pull-request. As for the missing JS file, this seem solved, correct?

[2019-06-18 17:55] aaronenberg commented on #98
Right now I am including the JS file directly in the template. Without that it won't load. It may have something to do with the `js` path in `S3FileInputMixin`'s `Media` class. I have `STATIC_URL='/static/'` and so the widget's src path becomes `'/static/s3file/js/s3file.js'`. So that's where staticfiles should look for it. It's there it's just not loading it. Also on `dummy-backend`, because the`

[2019-06-18 20:50] codingjoe commented on #98
@aaronenberg good point, this needs to be fixed. It's still a working branch, so are still some bugs. With that feature I intend to make debugging simpler. You are kind of my guinea pigs, thank you for that :)

[2019-06-21 02:33] schwartzmx commented on #95
looks good @codingjoe ,  haven't had a chance to test it but I think this will work perfectly.  Thanks!

[2019-06-24 09:06] codingjoe commented on #95
Perfect, I will need one more week to release a new version. I want to release one more feature.

[2019-07-02 20:54] aaronenberg opened #107 "Feature request: support for non-empty directory uploads"
It's pretty simple. After submit just need to save the value from `File.webkitRelativePath` and include it in the `data-fields-key` attribute before attaching to a `FormData`. I am only having trouble writing the tests for it.

[2019-07-03 07:14] #104 closed

[2019-07-03 07:24] codingjoe commented on #107
Hi @aaronenberg ,

I am afraid, I am not getting the full picture yet. Can you give me a little more information about your use case, so I can try to answer your question better?

Thanks!
-Joe

[2019-07-03 07:53] aaronenberg commented on #107
Hey @codingjoe ,

Ok I will back up. For example, a submittal form asks for a week of USGS data (emissions reported by power plants). I have the data in a directory tree (really a forest) in my case where I can select or drop a directory onto the UI. We avoid the task of server-side scaffolding. The entire folder is stored on S3 as-is. What do you think about this as a feature?

[2019-07-03 11:19] codingjoe commented on #107
Hi @aaronenberg,

I think what you are referring to is [webkitdirectory](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/webkitdirectory) which is a non-standard feature and works only in WebKit. That being said, it is already supported by this library:
[code]

[2019-07-03 11:19] #107 closed

[2020-07-09 16:05] cvipul opened #110 "Documentation Improvement: Using s3file in development"
I am bit confused while reading the documentation about testing s3file in development.

On one hand it says

and on the other it says

So, if I want to use the dummy S3 backend, I cannot utilise the S3FileInputMixin.

If the documentation has steps to manually add S3FileInputMixin in development, that will be helpful.
Or will have to change the code in apps.py to look for some other variable in se

[2020-07-09 19:40] codingjoe commented on #110
Hi @cvipul very good observation. This is absolute nonsense, and I am afraid, so is the implementation.
It should be as follows, simply set the storage backend to S3 on your production environment. Locally, you keep it at file system (aka. the default). Then everything should behave the same in both environments.

You'd you mind giving it a shot? I am on vacation right now, and it might take me a

[2020-07-10 13:51] cvipul commented on #110
Understood. Let me make some changes and test it out.
Will raise a PR if everything works.

[2020-07-12 20:01] codingjoe commented on #110
I opened a PR that should resolve the problem. I'd love if you'd review it. Especially the documentation change. Best, Joe

[2020-07-15 05:28] cvipul commented on #110
Settings-wise the commit looks ok.
But I am facing another problem that's not allowing me to check the functioning end-to-end
I can see that s3file middleware is adding files to request.FILES, but when request object reaches the view, request.FILES is empty.

[2020-07-15 10:11] codingjoe commented on #110
@cvipul interesting, would you mind sharing your `MIDDLEWARE` setting with me?

[2020-07-15 10:11] #110 closed

[2020-07-17 13:03] cvipul commented on #110
Sorry, something was going wrong at my end.
When I tried to debug, it automatically fixed itself.

Can we release this new commit to pypi?

[2020-07-17 17:39] codingjoe commented on #110
It's already released in version 5.0.6 😉

[2020-08-08 13:51] andytwoods opened #114 "Want me to try and integrate EvaporateJS?"
Hi there.
I've got [EvaporateJS ](https://github.com/TTLabs/EvaporateJS) to work (fairly beastly!) and was thinking about releasing my own package. Might make sense I try and integrate my solution with yours? Should I have a go?
Cheers,
andy.

[2020-08-10 07:33] codingjoe commented on #114
Hi @andytwoods,

Thanks for reaching out. I think there are plenty of packages that support AWS S3 uploads. All of which have different strength. The strength of this package is to be a drop in replacement, that is very lightweight. EvaporateJS isn't too big, but it's also not very light. Besides, I am having a hard time justifying dropping our JS code, since it works perfectly fine, is extendible

[2020-08-10 07:33] #114 closed

[2020-09-22 11:56] dearandrewkim opened #117 "Adding exception to certain files?"
Hello Joe,

I have been testing this in my staging production and it is working very nicely for most of the files. However, I have some ImageFields which is also using another package [(django-image-cropping)](https://github.com/jonasundderwolf/django-image-cropping) and it is not playing nicely with django-s3file. It is being uploaded to tmp folder but not being moved across to the proper folder

[2020-09-22 13:16] codingjoe commented on #117
Hi @dearandrewkim,

Thanks for reaching out. I am not 100% sure that I can solve the issue alone, as this seems to be an issue with `django-image-cropping`. Let's get from help from @anrie (ping) on this.

So all this package does, is bypass the upload. This is done in the frontend and via a Django middleware.
The main difference is, that the `request.FILES` now holds a `File`-object instead of a

[2020-09-22 23:07] dearandrewkim commented on #117
Thanks for your reply @codingjoe. I will have a look with my team.

Meanwhile, it would be good to have simple decorator or a very simple way to ignore direct uploads for certain models.

I also use a package called "[django-cleanup](https://github.com/un1t/django-cleanup)" which automatically deletes files when the file field is changed. They have a simple decorator ```@cleanup.ignore``` which wo

[2020-09-25 09:07] codingjoe commented on #117
Hi @dearandrewkim,

What you are looking for is already possible. See the README only shows the easy "all-in" method. But you can also enable the functionality individually. You will need to remove `s3file` from your `INSTALLED_APPS` setting and create your own widget:

[code]

The `ignore` or opt-out idea, hold too many pitfalls IMHO. It is less explicit and maybe not so zen.

That highly depends

[2020-09-25 09:57] dearandrewkim commented on #117
Thanks for the tips above! I will try creating my own widget.
I will work on a sample app this weekend and try to replicate the bug. I'll report back.

[2020-09-26 00:44] dearandrewkim commented on #117
I created an app using django-image-cropping and s3 file but unfortunately I was unable to recreate the issue. They actually work fine together. I can share this with you if you want.

On my side, I've tried to replicate this issue and in the terminal it says the following:

[code]

I don't know if this is of any help.

I'm happy to share my actual project repo with you if you want but may be irre

[2020-09-28 07:58] anrie commented on #117
What happens if you define this setting?

---

And although the issue seems resolved I would point to these issues, especially the `THUMBNAIL_DEFAULT_STORAGE` setting.

* https://github.com/jonasundderwolf/django-image-cropping/issues/100
* https://github.com/jonasundderwolf/django-image-cropping/issues/76

Cheers and good luck!
Andreas

[2020-09-28 22:30] dearandrewkim commented on #117
Hi @anrie , thanks for this, I'll try implementing this.
@codingjoe , we created the widgets and it works beautifully now for the files we want to direct upload. It might be good if you could add this to the README.md. Thanks all

[2020-10-06 21:52] ktryber commented on #98
@codingjoe @aaronenberg This post saved me quite a bit. I wanted to post my learnings in case anyone else is experiencing a slow request time after the file is sent to S3.

for me the django-s3file package was working perfect, but after the POST request was successful directly to s3, my django app would take about 20 seconds to redirect to the success page. I'm on Heroku so if it took 30+ seconds

[2020-10-07 08:17] codingjoe commented on #98
Hi @ktryber thanks for sharing you findings. I wonder, is your custom storage backend actually a subclass of the django-storages backend? And do you have multiple storage backends setup? If files are copied between backends, this could cause a problem. It could also be problematic if your storage is in a different data center from your application, since the application server must retrieve the fi

[2020-10-20 04:17] pdf9 opened #118 "tmp folder not appearing"
Hi, I've been desperately searching for something like this and would love to make use of it for a small project I'm spending way too much time on. I followed the insanely simple setup instructions :) but can't get the tmp folder to appear in my s3 bucket, so I'm assuming I could not get it to work. I want this to work so bad, please help!

Here's my AWS settings - everything else is just like in

[2020-10-20 13:35] codingjoe commented on #118
Hi @pdf9,

Thanks for reaching out. At first glance, everything looks correct. Then again, there isn't much to set up to make this package work.

Let's tackle this step by step:
1. Does regular upload work without this package?
2. Does the s3 mock upload work locally? You can check the browsers network logs.
3. Did you check the folder `static/tmp`? I see that you use the `AWS_LOCATION` setting. T

[2020-10-20 17:01] pdf9 commented on #118
Hi Joe,

 

Yes app is working just like it did before adding s3file. Both locally and in production on heroku. I cannot tell any difference between before and after adding. 

 

Good question on s3 mock. I didn't actually try to clone that and test (duh!) . Will do that now and report back on results. 

 

I cannot find a static/tmp folder anywhere. Checked the AWS_LOCATION (and everywhere else I

[2020-10-20 17:11] pdf9 commented on #118
Hi! just realized my forms/views didn't match up from the code I sent you. I just adjusted forms to include video in the inital EventForm and only images in EventFullForm for multiple add at once. Sorry for issue/additional email.

 
 

Sent: Tuesday, October 20, 2020 at 1:01 PM
From: "Patrick Fagel" <pdf9@mail.com>
To: reply@reply.github.com
Subject: Re: [codingjoe/django-s3file] tmp folder not a

[2020-10-21 01:59] pdf9 commented on #118
Hi Joe,

I tried the s3 mockup and I'm getting bad request notifications when I try to upload - the steps for setup are so simple I feel like I have to be missing something additional that's needed. The only steps I've taken is to install s3file, add to installed apps and middleware in settings, and then add the CORS in s3 (then spent a good long time trying to mess around and get my project to wo

[2020-10-21 08:04] codingjoe commented on #118
Hi @pdf9,

Thanks for the additional information, but I need a little more. Can you please click on one of the failed requests and post the headers as well as the response body? The response body should contain some indication to the error. If you have a website that you want me to check out for myself (like a Heroku review app, feel free to send a URL to info@johanneshoppe.com).

Best, Joe

[2020-10-21 12:39] pdf9 commented on #118
Hi Joe, here are headers and response body of one of the failed requests - thanks so much for your responses/help

Headers:
![image](https://user-images.githubusercontent.com/70926100/96720282-9151ea00-1378-11eb-9a4a-eba626157b7d.png)
![image](https://user-images.githubusercontent.com/70926100/96720370-a9c20480-1378-11eb-909f-339ae8c4003d.png)

Response body:
<?xml version="1.0" encoding="UTF-8"?>

[2020-10-21 12:50] pdf9 commented on #118
I just updated settings to include the below after finding a post on it here: https://github.com/jschneier/django-storages/issues/687

But is still not working. Including as comment to cross off list of potential solutions (unless I'm implementing incorrectly)

if using boto3 (what I am using)
AWS_S3_REGION_NAME = 'us-east-2' #change to your region
AWS_S3_SIGNATURE_VERSION = 's3v4'

if using boto

[2020-10-21 16:05] pdf9 commented on #118
Hi Joe,

As stated before the files are now successfully uploading :)  but as soon as they finish uploading my browser displays the below json response (looks like that's what should happen based on the view) but FILES are both empty, and the below error appears in my terminal. I think it's telling me there is an issue with actually creating the model records? In django admin I can see there has b

[2020-10-21 16:57] pdf9 commented on #118
Hi Joe, ok so I think I have solved the error I was getting but am still not able to create new records for the model. Solved the issue causing the error by just adding a '/' to my AWS_LOCATION so it's 'static/'.

so now something like static/statictmp/s3file/69PKsrZ3TsmkobXUwB1P9w/a123.mp4 is now static/static**/**tmp/s3file/69PKsrZ3TsmkobXUwB1P9w/a123.mp4 and I don't get the error and I see some

[2020-10-21 20:43] pdf9 commented on #118
Ok I'm a goof...your sample test app views file is just to upload the photos and return the response with what was uploaded, not to actually create database records. I have to add that additionally on my own right? When I add a record on django admin it does create a database record and the file is uploaded to tmp in s3, but not when I use the non admin form as I have to create that myself. Hopefu

[2020-10-22 00:09] pdf9 commented on #118
Are there any tips you can give me on how to create model instances for the files without actually having django send them through the server? So I'm only creating character records in the db using the server while the code from your package actually uploads the file, but the url path from what s3file is what I'm saving? Would be really appreciated. Am emailing you the site so you can get an idea

[2020-10-22 02:33] pdf9 commented on #118
Hi Joe,

Can you help with this part from the instructions below? I cannot figure out how to save the correct reference to the url in the model instance so that after I run the upload I'm able to reference the urls of the files uploaded using s3file in my templates.

"S3File uploads to a single folder. Files are later moved by Django when they are saved to the upload_to location."

Thank you

Fyi

[2020-10-22 09:47] codingjoe commented on #118
After some investigation I actually did find a bug that is causing your problem. The library currently can't handle custom `AWS_LOCATION`s without a trailing slash. I am working on a fix.

[2020-10-22 09:53] #118 closed

[2020-10-24 02:32] pdf9 commented on #118
Hi Joe,

Thanks for that. Am hoping you can help with current item I'm having difficulty with -

When I use request.FILES in my views to save the model instance the application is continuing to save the files through the server. The s3file upload is working, so for each upload there are two file locations appearing in s3 - one in the tmp folder, and one in the folder from the 'upload_to='folder''

[2020-10-24 04:30] pdf9 commented on #118
Just in case it helps here's the form and view I'm working with. To clarify on previous comment - everything works, the s3file uploads to the tmp folder, it's just the view is also uploading to the upload_to location (from the FileField model) through the server (or at least it feels like it is with the speed). I can see the tmp folder appear in s3 with everything very quickly, but the form spins

[2020-10-26 08:04] codingjoe commented on #118
@pdf9 you need to pass `request.FILES` to your form. This package maintains the regular Django APIs.
The files are uploaded to the temp directory and are moved by your application to the `upload_to` location. Or they should be moved, if they are coped, that might be due to your form. However, there is a simple solution to that. I would recommend setting up expiration for the upload directory, as m

[2020-10-27 01:24] pdf9 commented on #118
Thank you Joe for the responses and help. Just have a couple final (I hope) questions so I know I'm understanding you and not going crazy as I try to work through this:

1. Is there anyway you can think of for me to validate if my application is moving the files from tmp to `upload_to` like it's supposed to with s3file (or how to see if it's not doing that, and is continuing to just upload them th

[2020-10-27 17:47] codingjoe commented on #118
Hi @pdf9,

Yes, all you need to do is set up expiration. If you file end up in the temp folder, they have been uploaded directly not through the application. Both simultaneously, is not possible ;)

How to set up expiration can be found in the readme. This is a good measure regardless if the file is moved or copied to its proper location. Let's say you have a form that fails because of some servic

[2020-10-28 00:50] pdf9 commented on #118
Hi Joe,

Thanks for help. I set up the expiration but still doesn't seem to be working. It appears they're uploading directly to tmp first, and then after that they're uploading through the application/server separately to `upload_to`.

Screen shots below show the same five files both existing in both the tmp and the `upload_to` locations. tmp files all appear at same time, `upload_to` then start

[2020-10-28 13:28] codingjoe commented on #118
Hi @pdf9 as mentioned before, that is impossible. Files an only be uploaded either way. Therefore, it must be your application, that is copying the files to the `upload_to` destination. Again, that is not a bad thing, since your temp location will expire those files anyways.

[2020-10-28 14:10] mesajidiqbal opened #122 "No Demo/Sample Codes/Blogs to illustrate the use of this library"
Can't find any source to learn how to use this library along with DRF

[2020-10-28 14:11] pdf9 commented on #118
Hi Joe, got it, thank you. Do you any ideas on what I need to do to the application to have it just move the files, as opposed to copying?

[2020-10-29 11:17] codingjoe commented on #118
Hm… no, not really. That highly depends on how you process the files. Usually Django would have the files in memory before they are saved to disk. We don't do this, as it would allow people to blow up the app servers memory. Let's say you upload a video for example. You don't want that in memory. You probably only want the S3 location, to start a background rendering job. Best Joe

[2020-10-29 12:11] pdf9 commented on #118
Thanks Joe, yes I 100% don't want that and is why I want so badly to make this work. I just can't seem to get my application to work with the s3file upload so I'm not timing out the heroku server when I attempt to upload anything > than about 30mb.

I saw someone just post an item to see if there's anyway you could add a sample project to the repo. That would be awesome as I feel like I'm missing

[2020-10-29 14:07] codingjoe commented on #122
Hi @mesajidiqbal,
Thank you for reaching out. Could you please elaborate a bit more what you mean by that? Especially the DRF part.

That being said, maybe I can already shed a little light into the situation.

This package does not alter any of Django's documented file APIs. Once setup, the package operates in the background. Of course for advanced use cases we have our own APIs like the upload p

[2020-10-29 14:07] #122 closed

[2020-12-16 22:56] ABODFTW opened #123 "Only upload to S3 and bypass uploading to Django?"
The current flow of the app is to first upload to s3 and then upload to Django, and this takes more than 30 seconds which makes my web app break because the response takes more than 30 seconds which is the server time response limit in Heroku.

I'm not sure if this can be implemented but if my understanding is correct, then there will be some heavy changes needed on the code to expect the s3 uploa

[2020-12-16 23:38] ABODFTW opened #124 "Progress event listener isn't working?!"
I tried implementing the progress bar, but I can seem to access the progress attribute on my form.

Also, the event listener on the README doesn't seem to trigger at all.

I've made sure that the middleware and the app are installed

I'm not sure where the problem could be, but I'm willing to contribute if I understand what needs to be done.

[2021-01-04 12:02] codingjoe commented on #123
Hi @ABODFTW,

Thanks for reaching out. Do you have a little more information for me, to help you debug the problem? Usually, a browser network log helps.

A first blind guess is, that you file is large and processing the file on your app server actually takes up over 30s. By default, we only send the file location (reference) to the app server, not the file itself. Only your own code might cause t

[2021-01-04 12:32] codingjoe commented on #124
Hi @ABODFTW,

Interesting, would you mind sharing your HTML with us, particularly, the file input? I just want to make sure the script is "running". Before we debug the problem further. Especially with the other issue you posted, something might just be wrong with your setup.

Best,
Joe

[2021-01-04 12:33] #117 closed

[2021-01-04 13:01] ABODFTW commented on #123
Hey Joe

Thanks for the reply, I have already went with using django-s3direct for my current use case.

But answering your question yes my old setup manipulate the file before uploading.

### Here is what I did to accomplish processing the files without having to deal with the 30 second limit.

- I used django-s3direct
- I setup django-rq to download the files process them then upload them again a

[2021-01-04 13:04] ABODFTW commented on #124
Hi Joe

Thanks again for the reply.

I have went with django-s3direcrt for the project I was working on.

But if I got time this week, I will try to reproduce it, and if I got it working I will update the readme otherwise I will update you on this here

[2021-01-05 17:59] #123 closed

[2021-01-05 17:59] codingjoe commented on #124
I see, I will close the issue for now. However, I would appreciate if you find the time. If there is an error, I'd of course like to fix it.

[2021-01-05 17:59] #124 closed

[2021-02-24 13:29] christiankf opened #125 "Uploading file takes more than expected"
Hi there

First, thanks for this awesome plugin. Works like a charm and is (almost) exactly what I need.

So maybe I'm understanding something wrong of need to configure something but I have the following scenario:

1. I have a simple upload form where the user can upload a big file (let's say up to a couple of hundred MBs)
2. The upload in via django-s3file and the progress loader works like a ch

[2021-03-06 11:41] #125 closed

[2021-04-21 21:29] symroe opened #134 "Ability to change presigned URL conditions"
I am using some custom JS to upload images, rather than the bundled `s3file` JS.

This is because I am using an in browser image editor to edit images before upload. The image editor can't (due to good browser / HTML restrictions) modify a file field, so I have to submit the data as base64 encoded.

The way presigned POST URLs work is that you have to specify the content encoding _when creating th

[2021-04-22 16:33] codingjoe commented on #134
Hi @symroe,

Excellent suggestions. I believe your solution is on point. I would have recommended the same. If you want, you can add your example to the documentation. However, we don't really have an API documentation yet. Or any documentation that deals with extending functionality beyond the JavaScript event.

Maybe your questions, including your answer will already serve as sufficient document

[2021-05-31 08:28] codingjoe commented on #134
Hm… we can add further reading do a docs folder. Even if it's not on rtfd.io it would be pretty accessible through the GH interface. I am going to close the issue for now, feel free to just open up PRs with docs. I'm always thankful for those kinds of contributions.

[2021-05-31 08:28] #134 closed

[2021-07-16 03:37] pdf9 opened #157 "Template to Display Uploaded Images"
Hi Joe,

As part of the testapp, any chance you could include a simple view & template that would display the images uploaded using s3file? Maybe where currently the upload view redirects to show the json file names of what was just uploaded - instead it could render them onto a page?

I'm sure someone with your skills could whip it up in no time (I'm told flattery can get you everywhere :) ). Kid

[2021-07-17 08:58] codingjoe commented on #157
Hi @pdf9,

Excellent question! As it turns out, this is not possible right now, at least not out of the box. We do not emit a signal, for files that have been uploaded. However, this could be easily implemented around here:
https://github.com/codingjoe/django-s3file/blob/b6040602b00d40307f544fc9ab9556f9e505b6a2/s3file/static/s3file/js/s3file.js#L91-L96

All that being said, if you S3 bucket is not

[2021-07-17 08:58] #157 closed

[2021-08-11 17:29] Dufran opened #166 "Large file performance"
Hello, can you please tell if slow performance with large file is ok? I'm trying to upload 1+ gb files and it's take approx 20 minutes?

[2021-08-12 13:18] codingjoe commented on #166
Hi @Dufran,

There is a "bug" in django-strages, that forces the app server to always load the file. Please see #128 where we are currently implementing a port, that will solve this issue for every large files.

Best,
Joe

[2021-08-12 13:18] #166 closed

[2021-10-08 06:31] iiji-ez opened #172 "Large file greater than 5GB"
Hi,
Thanks for awesome project.

Basically, I can upload file to s3 properly. :)
But, I am facing bad request error when I upload large file >5GB.
I checked developer mode on browser. PUT request to s3 was only one.
It seems django-storages supports multipart uploading.

Can I upload grater than 5GB file with django-s3file?

[2021-10-08 10:30] #172 closed

[2021-10-09 11:57] iiji-ez commented on #172
Hi @codingjoe, thanks for your comment.
My question isn't regarding issue #125.
The storages_optimized backend as you mentioned is working fine less than 5GB.

Let me ask again.

- Does django-s3file supports greater than 5GB? Please let me know configuration if it is supported.
- Should I need to improve taking care multipart uploading?

Just FYI)
https://aws.amazon.com/s3/faqs/

So, I thought ta

[2021-10-09 16:40] codingjoe commented on #172
Hi @iiji-ez,

Thank you for your patience, I really did misunderstand you question. As I see it, the AWS SDK for JavaScript does come with a simple integration for multipart uploads, see also [@aws-sdk/lib-storage
](https://github.com/aws/aws-sdk-js-v3/blob/main/lib/lib-storage/README.md).
However, the question is, if we should go ahead and include the SDK here to tackle this problem. Honestly, mo

[2021-10-09 18:06] iiji-ez commented on #172
Hi @codingjoe,

I understand.
Thank you for your kindness comment.

[2022-04-11 02:01] tunecrew opened #210 "Unexpected behaviour when uploading multiple files with same name"
Uncovered an interesting behaviour/bug? when uploading multiple files that have the same filename. Behaves as follows:

- From a file upload form with `multiple` set to `True` select 2 or more files with the same exact file name (this is possible on MacOs at least if the files are in different folders, but the file chooser modal is set to a parent folder of these folders - see screenshot for examp

[2022-04-11 07:54] codingjoe commented on #210
Hi @tunecrew,

Thank you for reaching out. I am curious, is that happening on S3 or in local development? If it's happening on S3, is you `DEBUG` setting on or off?

Meanwhile, I will try reproducing this.

Best Joe

[2022-04-11 08:27] codingjoe commented on #210
Hm… so, I did some investigation. HTTP allows multiple files with the same name in a single request. However, since we don't rename files, this approach does not work currently. We'd need to introduce subfolders for each file, to mitigate this issue.

I will work on this, since I found something related to this, that also needs my attention.

[2022-04-11 21:30] tunecrew commented on #210
Hi - it happens locally (haven't tried it in production yet) - but my local dev environment is dockerised and uses Minio for S3, so I think the behaviour should mimic a production environment.

A couple thoughts based on your response:

- Interesting that it is copying the same file `n` times to the final destination.
- Could this be fixed by adding a suffix (timestamp + random) to each filename a

[2022-04-14 13:34] symroe opened #212 "Is Python 3.9 really required"
Hiya,

`5.5.0` made Python 3.9 or greater a requirement. I understand keeping up with latest versions, but I don't think this codebase uses code that requires features in 3.9.

Python 3.8 is still commonly used and supported, and Django 3.2 (the oldest Django supported by this project) is still supporting back to Python 3.6.

Could you add 3.8 back in to CI and requirements? Or is there a good rea

[2022-04-17 19:03] isik-kaplan opened #213 "This field is required error"
With this simple setup:

[code]

[code]

I keep getting `File: This field is required.`

When I add {{ form.media.js }} request.FILES is empty, and "file" in request.POST, when I remove the {{ form.media.js }} request.FILES has "file" and "file" not in request.POST

I have the app and the middleware.

I've tried to figure it out myself but couldn't. I feel like I'm missing something, but I'm not e

[2022-04-20 11:34] codingjoe commented on #212
Hi @symroe,

Thanks for reaching out, before opening a PR. I run all my apps on 3.10, so I don't have any incentive to put in the work myself. Don't get me wrong, I don't mind you contributing 3.8 supports at all. I just have so many OSS packages to maintain, and to stay sane, I limit my contributions to my own interest. All that being said, be my guest. I might have used some 3.9 dictionary magic

[2022-04-23 08:53] #212 closed

[2022-09-13 08:04] codingjoe commented on #210
Hi @tunecrew, I never took the time to properly thank you. Your bug report helped uncover a pretty substantial security bug. I credited you in the CVE, so you've probably seen it. Still, thank you again for. That was really helpful. However, I believe the patch did not solve your particular issue. Did you happen to make any progress on this meanwhile, or do you want me to have a got at it? Cheers,

[2022-09-13 14:35] tunecrew commented on #210
You're very welcome! I haven't revisited it in a bit as I got sidetracked on another project, but I will be back on it this fall so I'll let you know.